.containerDala{
    width: 100%;
    font-family: 'Inter';
}


.banner{
    display: flex;
    justify-content: space-between;
    background-color: #05C66B;
}

.infoDalas{
    width: 100%;
    max-width: 800px;
    padding: 100px;
    color: white;
    font-size: 21px;
}

.imgDala{
    width: 100%;
    margin-right: 180px;
    
}

.imgDala img{
    width: 100%;
}

.infoGerais {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 100%;
}

.boxInfoGeral {
    flex: 1; 
    margin: 0 10px; 
    background-color: #009ADA;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 21px;
}

.divTabelaDala{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 80px;
    background: linear-gradient(to top, #008747, #05C66B);
}

.tabelaDala{
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

.containerGraficos{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    max-width: 1300px;
    padding: 20px;
    margin: 70px 100px;
    border-radius: 30px;
    background-color: white;
}

.boxGraficos{
    width: 100%;
    max-width: 550px;
    height: 400px;
}