/* src/Components/Tabela.css */
table {
    width: 100%;
    border-collapse: collapse;
}

.cabecalho, td {
    border: none;
    padding: 8px;
    text-align: left;
}

.cabecalho th {
    background-color:  #009B50; /* Cor de fundo verde */ 
    color: white; /* Cor do texto branco */
    font-weight: bold; /* Texto em negrito */

    border: none;
}
.sub-table-header th{
    background-color:#dad9d9 ;
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo cinza claro */
}

tr:nth-child(odd) {
    background-color: #ffffff; /* Cor de fundo branco */
}


.table {
    padding-bottom: 0;
    padding-top: 0;
}

.simular-btn {
    background-color: orange; /* Cor de fundo laranja */
    color: white; /* Cor do texto branco */
}

.executar-btn {
    background-color: green; /* Cor de fundo verde */
    color: white; /* Cor do texto branco */
}

.expand-icon {
    transition: transform 0.3s; /* Transição suave para rotação */
}

.expand-icon.expanded {
    transform: rotate(180deg); /* Rotacionar 180 graus */
}
.header-cell{
    color: white;
}
.sub-table-header{
    background-color: #ffffff;
}
.no-bullets{
    list-style-type: none;
}