*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(90deg, #005C30, #00B15C);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

.btns button, span{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.btns button{
    color: white;
}

.btns span{
    margin-right: 5px;
}

.none{
    display: none;
}
