.input-container {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #707070;
    border-radius: 5px;
  }
  
  .input-field.email {
    width: 110%;
    height: 49px;
    background-color: #f8f8f8;
    border-color: #B5B5B5;
    border-radius: 5px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 100%;
  }
  
  .input-field.password {
    width: 110%;
    height: 49px;
    border-color: #B5B5B5;
    background-color: #f8f8f8;
    border-radius: 5px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }