.boxCard{
    display: flex;
    width: 364px;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    border: 1px solid #73EB7B;
    margin: 30px 20px;
    font-family: 'Inter';
    border-radius: 5px;
}

.titleCard{
    background: linear-gradient(90deg, #00B15C, #005C30);
    padding: 5px 20px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dados {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 10px 15px;
}

.section-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
}

.cliente, .produto {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cliente span, .produto span {
    margin-bottom: 5px;
    font-weight: normal;
}

.dados span {
    font-size: 14px;
    font-weight: normal;
}
