.boxCardSimulador{
    display: flex;
    width: 364px;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    border: 1px solid #73EB7B;
    margin: 30px 20px;
    font-family: 'Inter';
    border-radius: 5px;
}

.opacity{
    opacity: 0.5;
}

.titleCard{
    background: linear-gradient(90deg, #00B15C, #005C30);
    padding: 5px 20px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.btnsConexaoSimulador{
    display: flex;
    flex-direction: column;
}

.btnsLigadoSimulador{
    background-color: #9DE6FB;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.statusSimulador{
    padding: 10px;
    display: flex;
    justify-content: left;
    height: 200px;
    max-height: 200px;
    flex-direction: column;
    overflow-y: scroll;
}

.status span{
    display: flex;
    align-items: flex-start;
}

.middleBtns{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.middleBtns button{
    background-color: #EEA51D;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.downBtns{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.trocaDeLoteSimulador{
    background-color: #EEA51D;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.finalizarSimulador{
    background-color: #FFBBBB;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}
